<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd">
	<aop:aspectj-autoproxy/>
	<!-- 自动扫描且只扫描@Controller -->
	<context:component-scan base-package="com.smilehat" use-default-filters="false">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>
	
	<mvc:annotation-driven>
		<!--配置自定义参数处理器
			<mvc:argument-resolvers>
				<bean class="com.smilehat.modules.spring.mvc.method.support.FormModelMethodArgumentResolver"></bean>
			</mvc:argument-resolvers>
			-->
	</mvc:annotation-driven>
	
	<!-- 配置拦截器 -->		
	<mvc:interceptors>
		<mvc:interceptor> 
			<!-- 所有新创建需要防止重复提交,修改保存不需要 -->	
			<mvc:mapping path="/**/create"/> 		 
			<bean class="com.smilehat.modules.servlet.TokenSessionStoreInterceptor" /> 
		</mvc:interceptor>
	</mvc:interceptors>
		
	<!-- 将无法mapping到Controller的path交给default servlet handler处理 -->		
	<mvc:default-servlet-handler/>
	
	<!-- 定义JSP文件的位置 --> 
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/views/"/>
		<property name="suffix" value=".jsp"/>
	</bean>
	
	<bean id="jasperReportsViewResolver"  
		class="org.springframework.web.servlet.view.jasperreports.JasperReportsViewResolver">  
		<property name="order" value="0"></property>  
		<property name="viewClass"  
			value="org.springframework.web.servlet.view.jasperreports.JasperReportsMultiFormatView"/>  
		<property name="prefix" value="/WEB-INF/jasper/"/>  
		<property name="suffix" value=".jasper"/>  
		<property name="viewNames" value="*.rpt"/>  
		<property name="jdbcDataSource" ref="dataSource"/>
		<property name="reportDataKey" value="reportData"></property>
		<property name="headers" value="headers"></property>
		<property name="exporterParameters">  
			<map>               
				<entry  
					key="net.sf.jasperreports.engine.JRExporterParameter.CHARACTER_ENCODING">  
					<value>utf-8</value>  
				</entry>
			</map>  
		</property>
		
	</bean>
        
	<bean id="stringHttpMessageConverter"
		class="org.springframework.http.converter.StringHttpMessageConverter">
		<property name="supportedMediaTypes">
			<list>
				<bean class="org.springframework.http.MediaType">
					<constructor-arg value="text" />
					<constructor-arg value="plain" />
					<constructor-arg value="UTF-8" />
				</bean>
			</list>
		</property>
	</bean>
	
	<!-- 定义无Controller的path<->view直接映射 -->
	<mvc:view-controller path="/" view-name="redirect:/index"/>
	 
	
	<!-- 资源文件 res是包名messages是文件名  -->
	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>messages</value>
			</list>
		</property> 
		<property name="useCodeAsDefaultMessage" value="true">
		</property>
	</bean>
	
	<!--上传拦截，如最大上传值及最小上传值 -->  
	<bean id="multipartResolver"  
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">  
		<!-- 最大可以上传30MB的附件 -->  
		<property name="maxUploadSize" value="31457280" />  
	</bean>  
</beans>
