body, html {
    background-color: #FFFFFF;
    font: normal 100% Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-family: 'Microsoft YaHei';
    height: 100%;
}

div#header-img {
    width: 100%;
    height:  200px;
    overflow: hidden;
/*     background:url(images/farmDBg.png) no-repeat center center scroll; */
}
img.farm-img {
    width: 100%;
    height: 200px;
}
.pageContent {
background-color: #292626;
/* height: 100%; */
color: white;
padding: 20px 20px 40px 20px;
}


.div-back {
background-color: #6EBD28;
bottom: 19px;
left: 0px;
position: fixed;
display: block;
width: 100%;
padding: 2px 45% 0px 45%;
background-color: #6EBD28;
height: 40px;
}

img.img-back {
width: 35px;
}

.row1 {
width: 100%;
height: 90px;
}

.row1 .left {
float: left;
width: 60%;
font-size: 30px;
}

.row1 .right {
float: right;
padding-top: 30px;
}

.row1 .right .up{
padding: 0px 0px 5px 30px;
font-size: 10px;
color: #6EBD28;
}

img.product_cert {
width: 22px;
}

.row2 {
width: 100%;
color: #6EBD28;
padding-top: 10px;
}

.row3 {
padding: 10px 0px;
}

.rowline {
border-bottom: 1px solid #6EBD28;
height: 1px;
}

.d_info {
margin: 20px 0px;
padding-bottom: 20px;
}

.d_info .d_info_item ,.d_info .d_info_item2 {
height: 50px;
width: 100%;
border: 1px solid #6EBD28;
padding-top: 10px;
margin-bottom: 10px;
text-align: center;
}

.d_info .d_info_item a ,.d_info .d_info_item2 a {
color: #6EBD28;
font-size: 1.2em;
text-decoration: none;
}

.row4 {
padding: 10px 0px;
}