div.background-img {
    background:url(images/bg.png) no-repeat center center scroll;
}



.system-name {
    background-color: black;
    color: WHITE;
}

li#pageEnd {
color: white;
}

ul.list li {
    border: 1px #099214 solid;
}