
body, html {
background-color: #FCFFF6;
}

.system-name {
color: black;
}


.gover_name {
color: black;
}

.gover_introduction {
color: black;
}

img.goverCatalog_img {
border-radius: 10px;
}
.grow2 {
color: black;
}

li#pageEnd {
color: black;
}