.btn-upload{
	height: 32px;
	display: inline-block;
	 padding: 4px 5px; 
	 text-decoration: none; 
	 font-size: 15px; 
	 font-weight: normal; 
	 line-height: 2rem; 
	 text-align: center; 
	 white-space: nowrap; 
	 cursor: pointer; 
	 background-image: none; 
	 background-color: #7ec650; 
	 color: #fff; 
	 border: 1px solid transparent; 
	 border-radius: 2px; 
	 outline: none; 
	 -webkit-user-select: none; 
	 -moz-user-select: none; 
	 -ms-user-select: none; 
	 -o-user-select: none; 
	 user-select: none;
}

.h5-upload-row{
/* 	margin-left: -15px; */
/*     margin-right: -15px; */
     content: " ";
    display: table;
    width: 100%;
    padding-bottom: 3px;
}

.h5-upload-row .h5-upload-item{
	width: 25%;
	float: left;
	min-height: 1px;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
}

.h5-upload-row .h5-upload-item .h5-upload-thum{
	 background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: block;
    line-height: 1.42857;
    margin-bottom: 20px;
    padding: 2px;
    transition: border 0.2s ease-in-out 0s;
}