*
{
    margin:0;
    padding:0;
}

header {
    width: 96%;
    height: 46px;
    padding: 11px 2% 12px 2%;
    background: #FF9C59;
    overflow: hidden;
}

header a{
	text-decoration: none
}

header h1 {
    float: left;
    margin: 0 2% 0 0;
    display: inline;
}

header div{
	display: inline;
	float: left;
}

label.page-title-text {
	color: white;
	text-align: left;
	font-weight: bold;
	font-size: 0.8em;
	line-height: 0.8em;
	padding: 0.15em 0;
}

input.search-txt {
	position: relative;
	float: left;
	width: 100%;
	margin-top: 6px;
	overflow: hidden;
	height: 20px;
	border-radius: 5px;
}
header #userCenter{
	float: right ;
    margin: 0 2% 0 0;
}

img.user_info {
	width: 50px;
	height: 45px;
	padding-left: 10px;
}

div#product_purchase_select {
	bottom: 0px;
	float: left;
	position: fixed;
	display: block;
	height: 140px;
}

.list
{
    float:right;
    padding-top:10px;
}

ul
{
    list-style-type:none;
}

div#product_purchase_select div{
	display: inline;
	width:50%;
	float: left;
	
}

div#product_purchase_select div img{
	width:100%
}
