*
{
    margin:0;
    padding:0;
}

body, html {
	background-color: #FFFFFF;
	font: normal 100% Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-family: 'Microsoft YaHei';
}

div {
display: block;
font-size: 14px;
}
div.background-img {
	width: 100%;
	height:100%;
/*     min-height: 700px; */
	position: fixed;
	left: 0px;
	top: 0px;
    padding: 0px;
    margin: 0px auto 0px auto;
/*     border:1px solid white; */
/*     border-radius: 5px; */
    /**background-color:rgb(0,152,50);**/
    background:url(images/bg.png) no-repeat center center scroll;
/*     opacity: 0.7; */
	opacity: 1;
    filter:alpha(opacity=70);
    background-size: 100% 100%;
}

.background-zhezhao {
	background-color: #1D1C1D;
/* 	opacity: 0.8; */
    opacity: 0;
	filter:alpha(opacity=80);
	position: fixed;
	width: 100%;
	height:100%;
	left: 0px;
	top: 0px;
    padding: 0px;
    margin: 0px auto 0px auto;
}

div#main_div {
 	width: 100%;
/* 	min-height:700px; */
/* 	padding: 0px 10px 0px 10px; */
    overflow: auto;
    position: relative;
    margin-bottom: 70px;
    height: 100%;
/*     bottom: 40px; */
	top: 80px;
}

div#header {
    width: 100%;
    height: 80px;
    padding: 11px 2% 12px 2%;
/*     background: #FAA74B; */
    overflow: hidden;
/*     position: relative; */
	position: fixed;
}

div#header a{
	text-decoration: none;
	color: white;
/* 	float: right; */
    width: 65%;
}

div#main_list {
  margin-top: 50px;
}

div#header div.logo {
	width: 30%;
	padding-left: 5px;
	float: left;
}
img#curlogo{
	width: 70px;
	height:60px
}
/* header .logo h1 { */
/*     float: left; */
/*     margin: 0 2% 0 0; */
/* 	display: inline-block; */
/* } */

div#header div{
	display: inline;
	height: 100%;
/* 	width: 50%; */
	color: white;
	text-align: center;
}

label.page-title-text {
	color: white;
	text-align: left;
	font-weight: bold;
	font-size:18px;
	line-height: 1.5em;
	padding: 0.15em 0;
}

div.search {
float: right;
padding-top: 10px;
}
img.search-img {
width: 35px;
}

input.search-txt {
	position: relative;
	float: left;
	width: 100%;
	margin-top: 6px;
	overflow: hidden;
	height: 25px;
	border-radius: 5px;
}
div#header #userCenter{
	float: right ;
    margin: 0 2% 0 0;
}

img.user_info {
	height: 35px;
	padding-left: 10px;
	float: left;
    width: 46px;
}

div#product_purchase_select {
	bottom: 20px;
	float: left;
	position: fixed;
	display: block;
	width: 100%;
	padding: 13px 0px 0px 30px;
	background-color: #6EBD28;
	height: 60px;
}

div#publish_select {
	background-color: #6EBD28;
	width: 40%;
	height: 65px;
	position: fixed;
	bottom: 90px;
	left: 30%;
	display: none;
}

div#publish_select .publish_select_item{
	width: 50%;
	height: 100%;
	float: left;
	padding: 4% 2% 2% 12%;
}

div#publish_select .publish_select_item:FIRST-CHILD{
	border-right: 1px solid #000000;
}

div#publish_select .publish_select_item a{
	color: #212121;
	font-size: 20px;
}

.userCenter {
	float: left;
	padding-top: 10px;
    width: 50%;
}

.list
{
    float:right;
    padding-top:10px;
}

ul
{
    list-style-type:none;
}

div#product_purchase_select div{
	display: inline;
	width:33%;
	float: left;
	
}

div#product_purchase_select div img{
	width: 35px;
}

div#product_purchase_publish {
bottom: 10px;
position: fixed;
display: block;
width: 30%;
text-align: center;
left: 35%;
}

img#btn_pp {
width: 100%;
height: 30%;
}

img#mian_line {
padding-left: 20%;
}

input.search_purchase {
height: 25px;
width: 100%;
border: 1px #FF9C59 solid;
border-radius: 5px
}

img.search_down {
width: 25px;
background: 0 0 no-repeat;
}

div#purchase_search {
width: 100%;
float: left;
padding-left: 10px;
padding-right: 10px;
  position: fixed;
    top: 80px;
    height: 50px;
  /* overflow: hidden; */
  z-index: 99;
}

#purchase_search > div {
width: 49%;
float: left;
padding: 10px 0px 20px 0px;
}

#purchase_search > div:FIRST-CHILD {
	margin-right: 2%;	
}

#purchase_search .btn-my-select{
	border:1px solid #6EBD28;
	color:#D3D4D6;
	width:70%;
	height: 40px;
	background: none;
	border-radius: 0px;
}

#purchase_search .btn-my-select2{
	border:1px solid #6EBD28;
	width:28%;
	height: 40px;
	border-radius: 0px;
	background: none;
}

#purchase_search .btn-my-group{
	width:100%;
	height: 40px;
}

div#product_list {
  width: 100%;
  padding: 0px 10px 2% 10px;
  overflow: auto;
  position: fixed;
  top: 135px;
  bottom: 85px;
}

ul.list {
	width: 100%;
}

ul.list li{
	float: left;
	width: 100%;
/* 	margin: 5px 10px 16px 10px; */
	border:1px #099214 solid;
	overflow: hidden;
	padding: 10px;
	position: relative;
/* 	left: -7%; */
	margin-bottom: 15px;
}

ul.list_purchase li{
	float: right;
	width: 107%;
	padding: 5px 15% 16px 10px;
	overflow: hidden;
	background: url('images/product_bg_right.png')no-repeat;
	position: relative;
	right: -7%;
	margin-bottom: 15px;
}

ul.list li a, ul.list_purchase li a{
	float: left;
	width: 100%;
	overflow: hidden;
}

.list li a .row1 ,.list_purchase li a .row1 {
	overflow: hidden;
	height: 30px;
}

.list li a .row1 .left,.list_purchase li a .row1 .left {
float: left;
width: 50%;
overflow: hidden;
height: 24px;
line-height: 24px;
margin-right: 2%;
font-weight: bold;
font-size: 1.2em;
color: #FFFFFE;;
}

/* .list li a .row1 .left .name ,.list_purchase li a .row1 .left .name { */
/* height: 24px; */
/* line-height: 24px; */
/* margin-right: 2%; */
/* font-weight: bold; */
/* font-size: 1.2em; */
/* color: #FFFFFE;; */
/* } */


.list li a .category,.list_purchase li a .category{
height: 24px;
line-height: 20px;
font-size: 0.9em;
color: #6EBD28;
}
span.place_who {
	color: #6EBD28;
}

.list li a .row1 .right ,.list_purchase li a .row1 .right {
float: right;
height: 30px;
/* line-height: 30px; */
font-size: 0.3em;
color: #6EBD28;
width: 40%;
text-align: right;
}

 .list li a .row3 .right span,.list_purchase li a .row3 .right span {
font-size: 3px;
}

.list li a .row3 .right .unit,.list_purchase li a .row3 .right .unit{
height: 40px;
line-height: 40px;
font-size: 10px;
color: #838488;
}

.list li a .row2 ,.list_purchase li a .row2{
	width:100%;
	height:1px;
	background-color: #ffffff;
	margin: 4px 0;
}

.list li a .row3 ,.list_purchase li a .row3 {
overflow: hidden;
}

.list li a .row3 .left,.list_purchase li a .row3 .left {
float: left;
width: 50%;
overflow: hidden;
}

.list li a .row3 .right .place_who ,.list_purchase li a .row3 .right .place_who {
/* float: left; */
height: 20px;
line-height: 20px;
font-size: 0.9em;
color: #838488;
}

.list li a .row3 .left .lv ,.list_purchase li a .row3 .left .lv {
float: left;
height: 20px;
overflow: hidden;
}

 .list li a .row3 .right , .list_purchase li a .row3 .right{
float: right;
height: 20px;
line-height: 40px;
font-size: 1.6em;
color: #ffffff;
}

img.product_cert {
width: 15px;
}

img.drop-down-img {
width: 25px;
}

button#dropdownMenu1 {
/* background-color: #6EBD28; */
border-color: #6EBD28;
border-radius: 0px;
height: 40px;
}

a.main-menu {
color: #212121;
font-size: 20px;
text-decoration: initial;
}

.system-name {
    background-color: black;
    color: WHITE;
    bottom: 0px;
    position: fixed;
    display: block;
    width: 100%;
/*     padding: 2px 0px 0px 30%; */
	text-align: center;
}


.ul-my-tree{
  display:none;
  position: absolute;
  top: 100%;
  /* left: 0; */
  z-index: 1000;
  float: left;
  min-width: 80px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  max-height: 300px;
  overflow: scroll visible;	
}

.ul-my-tree >li >ul {
	left: 100%;
	top: 0;
}

.ul-my-tree li {
	text-align: center;
}

.ul-my-tree-right{
  right: 0;
  left: auto;
}

.ul-my-tree-right >li >ul {
	right: 100%;
	left: auto;
}

div#text_search {
    top: 20px;
    position: fixed;
    width: 100%;
    padding-left: 30%;
    padding-right: 45px;
    display: none;
}

div#text_search input.form-control {
    height: 38px;
    border-radius: 0px;
    width: 100%;
}