div#header {
	color:#6EBD28;
	font-size: 30px;
	padding: 21px 29%;
	width: 100%;
    height: 80px;
/*     PADDING: 11PX 2% 12PX 2%; */
    position: fixed;
    top: 0px;
}

.back {
    position: absolute;
    right: 20px;
    top: 20px;
}
img.search-img {
    width: 35px;
}

.input-name {
    float: left;
}

input#price ,input#quantity{
    float: left;
}
input#price {
    width: 27%;
}

select#priceUnit ,select#quantityUnit{
    float: right;
    width: 80px;
}

select#branchInfo {
    height: 100%;
    width: 80px;
}

.input-icon {
    padding-bottom: 13px;
}

a.btnLook {
    width: 60px;
    float: right;
}

.form-group .input-icon .form-control {
    float: left;
}

.form-group .input-icon select.form-control{
	color: #6EBD28;
}

.form-group select optgroup{
	  color: #000;
}

input.form-date {
    background: none;
    border: none;
}

img.help-img {
height: 35px;
float: left;
}

div#help {
position: absolute;
top: 20px;
left: 5px;
}

.main-form {
    padding: 0px 30px 2% 0px;
    width: 100%;
    position: fixed;
    top: 80px;
    bottom: 40px;
    overflow: auto
}

.form-group.hidden-group {
    visibility: hidden;
}