
#purchase_search > div {
width: 49%;
float: left;
padding: 10px 0px 20px 0px;
}

img.todetail {
width: 15px;
height: 20px;
}

div#product_list {
    padding: 5px;
}

ul.list {
    padding: 0px;
}

ul.list li{
	width: 45%;
	height: 160px;
	margin: 5px 5px;
}

ul.list li a {
	float: left;
	width: 100%;
	overflow: hidden;
}

img.product_cert {
width: 15px;
}

button#dropdownMenu1 {
background: #9DD05B;
border-color: #9DD05B;
}

.list li a .frow1{
float: left;
width: 100%;
overflow: hidden;
height: 24px;
line-height: 24px;
margin-right: 2%;
font-size: 0.9em;
color: #9DD05B;
}

.list li a .frow2{
float: left;
width: 100%;
overflow: hidden;
margin-right: 2%;
font-weight: bold;
font-size: 1.4em;
color: #fff;
}

.list li a .frow3{
float: left;
width: 100%;
overflow: hidden;
margin-right: 2%;
margin: 30px 10px 5px 0px;
}

.list li a .frow3 .left{
float: left;
width: 80%;
overflow: hidden;
margin-right: 2%;
}

.list li a .frow3 .right{
float: right ;
width: 15%;
overflow: hidden;
margin-right: 2%;
}